body{
  background-color: rgba(0, 0, 0, 0.351);
  justify-content: center;
  display: flex;
  align-items: center;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  width: 700px;
  position:relative;
  top: 200px;
 
}
.main{
  width: 300px;
  height: 300px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: rgba(83, 223, 48, 0.508);
  position: relative;
  z-index: 2;
  backdrop-filter: blur(10px);
}
.kvadrat{
  width: 150px;
  height: 150px;
  background-color: rgb(199, 41, 41);
  animation-name: kvadrat;
  animation-iteration-count: infinite;
  animation-duration:5s;
  margin-right: 40px;
  position: relative;
  z-index: 4;
}
@keyframes kvadrat{
  50%{
    transform: translateX(550px);
   
}
100%{
  transform: translateX(0);
 z-index: 1;
}
}
.aylana{
  width: 150px;
  height: 150px;
  background-color: rgb(234, 47, 255);
  border-radius: 50%;
  animation-name: aylana;
  animation-iteration-count: infinite;
  animation-duration:5s;
  margin-left: 40px;
  position: relative;
 
}
@keyframes aylana{
  50%{
    transform: translateX(-550px);
    z-index: 1;
}
100%{
  transform: translateX(0);
 z-index: 4;
}
}